.page-container {
  display: flex;
  flex: 1;
  align-items: center;
  height: 100vh;
  justify-content: space-between;
  padding: 50px 0px 50px 0px;
  flex-direction: column;
}

.form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding-bottom: 24px; */
}

h1 {
  font-size: 32px;
  font-family: sans-serif;
  font-weight: 400;
}

h2 {
  font-size: 13px;
  font-family: sans-serif;
  font-weight: 400;
  text-align: center;
  margin-bottom: 16px;
}

input {
  padding: 8px 10px;
  border-color: black;
  margin-bottom: 16px;
  border-width: 1px;
  border-radius: 4px;
  font-size: 15px;
  font-family: sans-serif;
  font-weight: 400;
  width: 280px;
}

input[type="submit"] {
  background-color: #C4C4C4;
  border-width: 0px;
  font-size: 15px;
  font-family: sans-serif;
  font-weight: 400;
  padding: 8px 10px;
}

a {
  text-decoration: none;
  background-color: transparent;
  box-shadow: 0px;
  border-width: 0px;
  text-decoration: underline;
  margin-bottom: 20px;
  color: black;
}